@charset "utf-8";

#mdki_container{
	position: fixed;
	top: -300px;
	margin: 0 auto;
	z-index: 1111;
	background-color: 
	#FFFFF2;
	padding: 20px;
	border: 3px solid #B48866;
	border-top: none;
	border-radius: 0px 0px 25px 25px;
	box-shadow: 0px 1px 15px -3px black;
	width: 380px;
	left: 50%;
	margin-left: -210px;
	text-align: center; 
	font-family: sans-serif; 
	color: #333; 
	-webkit-transition: top 0.7s;
	-moz-transition: top 0.7s;
	-o-transition: top 0.7s;
	transition: top 0.7s;
}

#mdki_container.show{
	top: 0;
}

#mdki_container h1{
	color: #E47911; 
	font:bold 24px arial,helvetica,sans-serif; 
	margin-top: 0; 
	line-height: 1em;
	margin-bottom: 5px;  
	letter-spacing: 1px; 
}
#mdki_container h1:before{
	content:' ';
	font-family: 'Wingdings';
	color: #FFCB98; 
	font-weight: normal; 
}

#mdki_container h1:after{
	content:' ';
	font-family: 'Wingdings';
	color: #FFCB98; 
	font-weight: normal; 
}

#mdki_container hr {
border-color: #FFEBD8;
border-style: inset;
border-width: 1px;
}

#mdki_container label {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 2em;
    padding-bottom: 1em;
}

#mdki_container button {
    background-color: #E47911;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 4px;
	cursor: pointer; 
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

#mdki_container button:hover{
background-color:#CC1B00;
}

#mdki_container button[disabled=disabled]{
background-color: lightGrey; 
}

#mdki_container #close_div {
position: absolute;
right: 0px;
top: 0;
padding: 5px;
height: 10px;
width: 10px;
color: #E47911;
line-height: 10px;
cursor: pointer;
}

#mdki_container #close_div:hover {
color:#CC1B00; 
}

.mdki_highlight {
  font-weight: bold; 
  color: #CC1B00; 
}
