@import "compass";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: sans-serif;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

body {
  font-family: $font-family;
  color: $font-color; 
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  h1 {
    font: bold 26px/48px Helvetica neue,Helvetica,Arial,Sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: #555; 
  }

  p {
    width: 50em;
    margin: 0 auto;
    font: 300 14px/21px Helvetica neue,Helvetica,Arial,Sans-serif;
    margin-top: 1em;
    margin-bottom: 1.5em; 
    letter-spacing: 1px; 
  }

  strong {
    font-weight: 500;   
  }

  h2 {
    text-align: center;
    font: bold 18px/36px Helvetica neue,Helvetica,Arial,Sans-serif;
    color: #555;   
  }

  hr {
    width: 35em;   
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 33px;  
    width: 27em; 
    margin: 0 auto; 
    li {
      margin-bottom: 0.5em; 
      font: 400 14px/21px Helvetica neue,Helvetica,Arial,Sans-serif;      
      letter-spacing: 1px; 
    }
  }
  
  .centered {
    text-align: center;  
  }

  em {
    font-style: italic;
    font-family: Georgia, Times New Roman, Serif; 
    letter-spacing: 0; 
    color: #E47911;
    font-size: 18px; 
  }
  #dmki {
    text-align: center; 
    
    #dmki_link{
      position: relative; 
      top: 0; 
      left: 0; 
      background-color: #FFFFF2;
      display: block;
      margin: 0 auto;
      width: 10em;
      padding: 0.5em;
      color: #E47911;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold; 
      border: 5px solid;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 0px black, inset 0px 0px 7px 1px #FFBD7C; 
      -webkit-transition: all 0.2s; 
    }

    #dmki_link:hover{
      box-shadow:0px 5px 19px -2px black, inset 0px 0px 7px 1px #FFBD7C; 
      top: -3px; 
      background-color:#FFF5AD;
    }
  }
}

#footer {
  background-color: #666;
  padding: 50px;
  color: white;
  font: 400 14px/21px Helvetica neue,Helvetica,Arial,Sans-serif;
  
  a {
    color: #FFF5AD;  
  }
}
